.-divider {
  color: #1a202c;
  box-sizing: content-box;
  height: 0px;
  line-height: 1.5rem;
  overflow: visible;
  opacity: 0.6;
  border-color: #7283fe;
  border-bottom: 1px solid #7283fe;
  margin: 0px;
}
