body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.-hstack {
  display: flex;
}

.-vstack {
  display: block;
}

.-margintop0px {
  margin-top: 0px;
}

.-margintop5px {
  margin-top: 5px;
}

.-margintop10px {
  margin-top: 10px;
}

.-margintop15px {
  margin-top: 15px;
}

.-margintop20px {
  margin-top: 20px;
}

.-margintop25px {
  margin-top: 25px;
}

.-marginleft0px {
  margin-left: 0px;
}

.-marginleft5px {
  margin-left: 5px;
}

.-marginleft10px {
  margin-left: 10px;
}

.-marginleft15px {
  margin-left: 15px;
}

.-marginleft20px {
  margin-left: 20px;
}

.-marginleft25px {
  margin-left: 25px;
}
