
main {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}
h1 {
    background-color: yellow;
    border: .0375em solid green;
    border-radius: .25em;
    color: green;
    font-size: 4em;
    font-variant: small-caps;
    font-weight: normal;
    margin: 0 auto;
    padding: 0 1em;
    width: fit-content
}

p {
    border: .075em solid red;
    border-radius: .5em;
    font-size: 2em;
    padding: 1em;
}
h1:hover,
p:hover {
    background-color: green;
    color: yellow;
    margin-top: 1em;
    margin-bottom: .1em;
    transform: scale(1.5);
}