.-hstack {
  word-wrap: break-word;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.marginleft0px {
  margin-left: 0px;
}

.marginleft5px {
  margin-left: 5px;
}

.marginleft10px {
  margin-left: 10px;
}

.marginleft15px {
  margin-left: 15px;
}

.marginleft20px {
  margin-left: 20px;
}

.marginleft25px {
  margin-left: 25px;
}
