.-belowroot {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.-center {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.-container {
  word-wrap: break-word;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 60ch;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.-flex {
  word-wrap: break-word;
  display: flex;
}

.-heading {
  word-wrap: break-word;
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.colororange {
  color: #f29085;
}

.colorred {
  color: red;
}

.fontsize1_5rem {
  font-size: 1.5rem;
}

.fontsize2rem {
  font-size: 2rem;
}

.-box {
  word-wrap: break-word;
}

.-text {
  word-wrap: break-word;
  margin: 0;
}

.-ul {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  list-style-type: initial;
  margin-top: 0.5rem;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
}

.-ui {
  list-style-type: initial;
  word-wrap: break-word;
}

.-spinner {
  word-wrap: break-word;
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-radius: 99999px;
  border-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: animation-b7n1on 0.45s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0.5rem;
}

.-image {
  word-wrap: break-word;
  border-style: none;
  display: block;
  max-width: 100%;
  margin-top: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0.5rem;
}

.-linkh,
.-linkhactive {
  word-wrap: break-word;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin: 0.1875rem;
  height: auto;
  width: fit-content;
  font-size: 0.8125rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.125rem 0.625rem 0.1875rem;
  font-weight: bold;
}

.-linkv,
.-linkvactive {
  border-color: #f29085;
  word-wrap: break-word;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0 0 0.3125rem 0;
  text-align: center;
  height: auto;
  width: 8.75rem;
  font-size: 0.8rem;
  font-family: 'Times New Roman';
  padding: 0.125em 0.875em 0.25em 0.12em;
  font-weight: bold;
}

.-linkh,
.-linkv {
  color: #333333;
  background: #ffffff;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.-linkh:hover,
.-linkv:hover {
  color: #f29085;
}

.-linkh:focus,
.-linkv:focus {
  outline: 0;
}

.-linkhactive,
.-linkvactive {
  color: #ffffff;
  background-color: #f29085;
  outline: 0;
}

.-tablecontainer {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.-tablecaption {
  font-size: 1.1rem;
  text-decoration: underline;
}

.-table {
  word-wrap: break-word;
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  width: 100%;
}

.-thead {
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  word-wrap: break-word;
}

.-tr {
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  word-wrap: break-word;
}

.-th {
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: start;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  line-height: 1rem;
  font-size: 0.75rem;
  color: #4a5568;
  border-bottom: 1px solid;
  border-color: #edf2f7;
}

.-tbody {
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  word-wrap: break-word;
}

.-td {
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
  word-wrap: break-word;
  text-align: start;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.25rem;
  border-bottom: 1px solid;
  border-color: #edf2f7;
}
